.cart {
  padding: 80px 60px;
  text-align: center;
}

.cart h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #1b5e20;
}

.cart-list {
  list-style: none;
  margin-bottom: 20px;
}

.cart-list li {
  margin: 10px 0;
  font-size: 16px;
}
